body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.keys{
    display:flex;
    gap:20px;
}

.key{
    border:2px solid white;
    padding:20px;
    color:white;
    text-align:center;
    width:100px;
    cursor:pointer;
    transition:0.1s;
}

.playing{
    transform:scale(1.1);
    border-color:yellow;
}